@media screen and (max-width: 840px) {
    .entete {
        flex-direction: column;
    }
    .logoAleha {
        align-self: center;
        width: 50% !important;
    }
    .imgContact {
        width: 70% !important;
    }
}

body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.entete {
    display: flex;
    background-color: rgb(61, 143, 61);
    width: 100vw;
}
.logoAlehan {
    width: 10%;
    border-radius: 50%;
}
.titre {
    width: 90%;
    text-align: center;
    color: white;
    margin-top: 40px;
}
.textPreventionTitle {
    color: rgb(21, 197, 30);
}
.police {
    text-align: center;
    font-family: "Lobster", cursive;
}
.slogan {
    font-size: 15px;
    margin-bottom: 25px;
}
.menuNav {
    font-size: larger;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainTendue {
    text-align: center;
    font-family: Lucida Sans, Helvetica, Arial, sans-serif;
    color: rgb(177, 72, 11);
    font-style: oblique;
    font-size: 50px;
}
.declaration,
.citation {
    background-color: rgb(61, 143, 61);
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.photoSlogan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 90%;
}
.photoPresentation {
    width: 100%;
}
.ajustFoto {
    width: 90%;
}
.card {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
li {
    list-style-type: none;
}
.row {
    margin: 0;
}
.cardContainer {
    flex-wrap: wrap;
}
.EvenementTitle,
.annuaireTitle,
.albumTitle,
.contactTitle {
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 255, 13), 0 0 0.2em rgb(255, 0, 0);
    font-size: 50px;
}
.cardEvenement {
    width: 20rem;
}
.containerCaroussel {
    width: 80vw;
    max-height: 50%;
    margin: auto;
}
/* Footer */
#footer {
    bottom: 0;
    width: 100vw;
}
.group-social {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
/* Onglet Contact */
.imgContact {
    width: 20rem;
}
.detailContact {
    font-size: 24px;
}
